.body{
    margin: 0 auto!important;
    max-width: 90%!important;
}

@media (min-width:992px) {
    .atur-1{
        width: 25% !important;
    }
    .atur-2{
        width: 50% !important;
    }
    .atur-3{
        width: 25% !important;
    }
    [class="col-xl-3 col-lg col-md col-sm col order-lg-1 order-md-1 order-sm-1 order-2"] {
        width: 100% !important;
    }
    
}