.navBarContainer{
	background: none repeat scroll 0 0 #323A45!important;
	padding: 0!important;
	width: 100%;
}

.navBarContainer{
	margin-bottom: 0;
}

.navbar {
	margin: 0 auto!important;
	max-width: 90%;
	padding: 0!important;
	
}

.navBar{
	 background-color: #323A45!important;
	 border: 0;
  	padding-left: 0;
  	padding-right: 0;
  	border-radius: 0;
		filter: none!important;
		
}

.navBar {
	min-height: 40px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 7%);
}

.navBox{
	max-height: 50px;
	background-color: #323a45!important;
	padding: 0!important;
}

.home{
	margin: 0!important;
	color: #fff!important;
	text-shadow: none;
	line-height: 30px;
	font-size: 1em;
	background: #e2a500;
	font-family: 'Ubuntu';
	float: left;
  display: block;
	padding: 10px 20px 10px!important;
	font-weight: 200;
	height: 50px;
}

.toggleButton{
	background-color: #e2a500!important;
	background-image: none;
	background-repeat: repeat-x;
	box-shadow: none;
	color: #fff!important;
	float: right!important;
	margin-left: 5px!important;
	margin-right: -10px!important;
	margin-top: 7px!important;
	padding: 5px!important;
	text-shadow: none;
}

.navBarInner{
	color: #fff;
  text-shadow: none;
	margin:0 0 0 0!important;
	
}
.navBarInner a {
	font-family: 'Ubuntu';
	font-weight: 400!important;
	font-size: 15px!important;
	color:rgb(255, 255, 255)!important;
}

.navBarInner:hover{
	font-family: 'Ubuntu';
	font-weight: 400!important;
	font-size: 15px!important;
	color: white!important;
	outline: none;
}

.item a{
		color:#444 !important;
		text-decoration: none!important;
}

.item {
	color: #444!important;
	width: 100%;
	padding: 8px 20px!important;
	text-decoration: none!important;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 15px;
	border-top: 1px solid rgba(250,250,250,.1)!important;
    border-bottom: 1px solid rgba(0,0,0,.2)!important;
}
.item:hover{
	background-color: #e2a500 !important;
	color: #444 !important;
	width: 100%;
	padding: 8px 20px!important;
	text-decoration: none!important;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 15px;
	
}
/*You can use your own css on bootstrap tag using id*/
#navDropdown{
	color: white;
	padding: 10px 18px;
	height:50px;
	text-decoration: none;
	display: block;
}
#navDropdown:hover{
	background-color: #e2a500;
}
/*Remmber !! this how you can edit aria-labelledby or somes tag inside bootstrap that don't showed up in your jsx*/
[aria-labelledby="navDropdown"] {
	padding: 0 0 0 0!important;
	margin: 0 0 0 -2px !important;
	border-bottom: 4px solid #e2a500 !important;
	border-radius: 0 !important;
}

.search-bar {
	background: #696969 !important;
	border: none !important;
	box-shadow: none;
	color: #fff !important;
	margin: 0 !important;
	padding: 10px !important;
	height: 50px!important;
	border-radius: 0 !important;box-sizing: border-box;
	float: left;
	font-size: 12px;
	font-style: italic;
}
.search-bar input:focus{
	outline: none!important;
	color: white!important;
}
.form-bar{
	margin-right: -20px;
	overflow: hidden;
	position: relative;
	float: right;
	padding: 0;
}
.navbar .nav-divider-left {
	float: left!important;
	height: 50px!important;
	border-right: 1px solid rgba(250,250,250,.1)!important;
	border-left: 1px solid rgba(0,0,0,.2)!important;
	margin: 0!important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}
.form-control:focus{
	border-color: #cccccc!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	transition: border linear .2s,box-shadow linear .2s !important;
}
.btn{
	background-color: #e2a500 !important ;
	border: none!important;
	width:50px !important;
	height: 50px!important;
	color: white!important;
	padding: 0 !important;

}
.btn-outline-success:focus{
	outline: none !important;
	border: none !important;
	border-color: #cccccc!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	align-items: center !important;

}
div {
	display: block;
}
i {
	padding: 0px;
	align-items: center;
	font-size: 15px;
}
@media(max-width:979px){
	.navBar{
		padding:0;
		background-color: #323a45!important;
	}
	.navBar .home{
		padding:0;
	}
	.navBar .toggleButton{
		margin-right: 10px;
	}
	.navBar .toggleButton{
		display: block;
	}
	[aria-labelledby="navDropdown"] {
		margin: 0 0 0 15px!important;
		border-bottom: none!important;
		border-radius: 0 !important;
	}
	
}

@media (max-width:767px) {
	.navBar {
		padding: 0;
	}
	.navBar{
		padding:0;
		background-color: #323a45!important;
	}
}