#maincontent{
    display: block;
    height: 1px;
    overflow: hidden;
}

#site-news-forum {
    background-size: 20px 3px;
    padding-top: 20px;
}

h2 {
    margin-bottom: 9px;
    font-family: 'Ubuntu';
    font-size: 28px;
    font-weight: normal !important;
    color: #555;
}