.Main{
  max-width: 100%;
  width: 100%;
  border-top: 4px solid #e2a500;
}

@media (max-width: 768px) {
  .Main {
      width: 100%;
      max-width: inherit; 
  }
}
@media (max-width: 368px) {
  .Main {
      width: 100%;
      max-width: inherit; 
  }
}
